<?xml version='1.0' encoding='utf-8'?>
<widget id="com.JayCee.AlaBasket" version="0.0.13" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AlaBasket</name>
    <description>
        Aplicación con toda la información y los resultados del baloncesto federado alavés.
    </description>
    <author email="jon.jaycee@openmailbox.org" href="">
        JayCee Universal Apps Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
	    <preference name="android-minSdkVersion" value="14" />
	    <!--icon src="res/android/xhdpi.png" />
	    <icon src="res/android/ldpi.png" density="ldpi" />
	    <icon src="res/android/mdpi.png" density="mdpi" />
	    <icon src="res/android/hdpi.png" density="hdpi" />
	    <icon src="res/android/xhdpi.png" density="xhdpi" /-->
	</platform>
</widget>
